/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif, 微軟正黑體;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Unified pre-setting*/
img {
  
    width: 100%;  
    height: auto; 
}
a {
  
    text-decoration: none; 
}
.h1 {
  
    font-size: 36px; 
}
.h2 {
  
    font-size: 30px; 
}
.h3 {
  
    font-size: 24px; 
}
.h4 {
  
    font-size: 18px; 
}
.h5 {
  
    font-size: 14px; 
}
.h6 {
  
    font-size: 12px; 
}


/*html-body-content*/
.wraper {

    width: 1024px;
    margin: 0 auto;
}

.header {

    height: 400px;
    background-color: #424242; 
}

.bmi_Logo, .input_Info, .result {

    float: left; 
}

.bmi_Logo {
  
    margin-top: 100px;
    width: 32%; 
}

.bmi_Logo h1 a {
    
    display: block;
    float: right;    
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-right: 50px;    
    
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background: url("../img/BMICLogo.png") no-repeat; 
}

.input_Info {
    
    width: 32%;
    margin-top: 75px;
    color: #FFD366; 
}

.input_Info label {
  
    margin-bottom: 8px; 
}

.input_Info * {
    
    display: block; 
}

.input_Info input[type='number'] {
    
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    border: 2px solid #FFD366;
    border-radius: 8px;   
}

.result {
  
  width: 32%;
  margin-top: 115px; 
}

.result_Btn {

  width: 120px;
  height: 120px;
  margin-left: 50px;
  border-radius: 50%; 
  border: none;
  background-color: #FFD366;
  text-align: center;
  cursor: pointer;
  color: black; 
  font-family: 微軟正黑體;
  font-weight: bold;
}

.result_Btn:hover {

  background-color: #ffda80;
  box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.6); 
}
  

.result_Num {
  
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 32px; 
}

.result_BMI {
  
  position: absolute;
  left: 50%;
  top: 65%; 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.result_Word {
  
  position: absolute;
  left: 100%;
  top: 55%; 
  width: 85px;
  font-size: 32px;
}

.result_Word-4 {
  
  position: absolute;
  left: 100%;
  top: 55%;
  width: 150px;
  font-size: 32px;
}

.result_Show {
  
  position: relative;
  display: none; 
  width: 120px;
  height: 120px;
  margin-left: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 32px;
}

.result_Show1 .result_Btn, 
.result_Show2 .result_Btn,
.result_Show3 .result_Btn,
.result_Show4 .result_Btn,
.result_Show5 .result_Btn,
.result_Show6 .result_Btn {

  display: none; 
}

.result_Show1 .result_Word,
.result_Show2 .result_Word,
.result_Show3 .result_Word,
.result_Show4 .result_Word,
.result_Show5 .result_Word,
.result_Show6 .result_Word {
 
  display: inline-block; 
}

.result_Show1 {
  
  color: #86D73E; 
}

.result_Show1 .result_Show {
  
  border: #86D73E 6px solid;
  display: inline-block; 
}

.result_Show2 {
  
  color: #31BAF9; 
}

.result_Show2 .result_Show {
  
  border: #31BAF9 6px solid;
  display: inline-block; 
}

.result_Show3 {
  
  color: #FF982D; 
}

.result_Show3 .result_Show {
  
  border: #FF982D 6px solid;
  display: inline-block; 
}

.result_Show4 {

  color: #FF6C02; 
}

.result_Show4 .result_Show {
  
  border: #FF6C02 6px solid;
  display: inline-block; 
}

.result_Show5 {
  
  color: #FF6C02; 
}

.result_Show5 .result_Show {
  
  border: #FF6C02 6px solid;
  display: inline-block;
}

.result_Show6 {
  
  color: #FF1200; 
}

.result_Show6 .result_Show {

  border: #FF1200 6px solid;
  display: inline-block; 
}

.icon_Loop {
  
  position: absolute;
  left: 70%;
  top: 70%; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 5px solid #424242;
}

.result_Show1 .icon_Loop {
  
  background-color: #86D73E;
  display: inline-block; 
}

.result_Show2 .icon_Loop {
  
  background-color: #31BAF9;
  display: inline-block; 
}

.result_Show3 .icon_Loop {
  
  background-color: #FF982D;
  display: inline-block; 
}

.result_Show4 .icon_Loop {
  
  background-color: #FF6C02;
  display: inline-block; 
}

.result_Show5 .icon_Loop {
  
  background-color: #FF6C02;
  display: inline-block; 
}

.result_Show6 .icon_Loop {
  
  background-color: #FF1200;
  display: inline-block; 
}

.rest_Btn, .clear_Btn{
  
  float: right;
  width: 100px;
  height: 40px;  
  background-color: #FFD366;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  text-align: center;
  color: black;
  font-weight: bold;
}

.rest_Btn{

  margin-right: 1em;
}

.rest_Btn:hover, .clear_Btn:hover {

  background-color: #ffda80;
  box-shadow: 0 1px 6px 3px rgba(255, 195, 50, 0.6); 
}

.content {

  /*height: 500px;*/
  text-align: center;
  background-color: #f5f5f5;
  overflow: hidden; 
}

.content h3 {

  margin-top: 48px;
  margin-bottom: 36px; 
}

.render_BMI {

  position: relative;
  font-size: 0; 
}

.render_BMI li {
  
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  width: 635px;
  height: 62px;  
}

.render_BMI li .bar_BMI {
  
  position: relative; 
  display: inline-block;
  width: 625px;
  background-color: #fff;
}

.render_BMI li .bar_BMI span {
        
  float: left;
  line-height: 62px;
  vertical-align: middle;
  position: relative; 
}

.BMI_Index1 {
  
  margin-left: 12px;
  font-size: 20px; 
}

.BMI_Index2 {
  
  margin-left: 70px; 
}

.BMI_Index3,
.BMI_Index5,
.BMI_Index7 {
  
  margin-left: 8px;
  font-size: 20px;
  text-align: left;
  width: 55px; 
}

.BMI_Index4,
.BMI_Index6 {
  
  margin-left: 42px; 
}

.BMI_Index2-1 {
  
  margin-left: 30px; 
}

.BMI_border1 {
  
  float: left;
  position: relative;
  width: 7px;
  height: 62px;
  background: #86D73F;
  z-index: 3; 
}

.BMI_border2 {
  
  float: left;
  position: relative;
  width: 7px;
  height: 62px;
  background: #31BAF9;
  z-index: 3; 
}

.BMI_border3 {
  
  float: left;
  position: relative;
  width: 7px;
  height: 62px;
  background: #FF982D;
  z-index: 3; 
}

.BMI_border4 {
  
  float: left;
  position: relative;
  width: 7px;
  height: 62px;
  background: #FF6C02;
  z-index: 3; 
}

.BMI_border5 {

  float: left;
  position: relative;
  width: 7px;
  height: 62px;
  background: #FF6C02;
  z-index: 3; 
}

.BMI_border6 {

  float: left;
  position: relative;
  width: 7px;
  height: 62px;
  background: #FF1200;
  z-index: 3; 
}

.footer {
  
  /*clear: both;*/
  background-color: #FFD366;
  height: 100px;
  text-align: center; 
}

.footer img {
    
  width: 55px;
  height: 55px;
  margin-top: 20px; 
}
